<div class="ab-account-types-list-tabs">
    <button class="account-tabs-btn active">All accounts</button>
    <button class="account-tabs-btn">Google accounts</button>
    <button class="account-tabs-btn">Facebook accounts</button>
    <button class="account-tabs-btn">Twitter accounts</button>
    <button class="account-tabs-btn">Protonmail accounts</button>
    <button class="account-tabs-btn">Rededit accounts</button>
    <button class="account-tabs-btn">Steam accounts</button>
    <button class="account-tabs-btn">Outlook accounts</button>
</div>