<!-- account section start -->
<section class="ab-account-section">
    <h1 class="ab-title">If you need <span class="ab-color-text">quality</span> 100% <span
            class="ab-color-text">legal</span> bulk <span class="ab-color-text">accounts</span>,
        you've come to the right place.</h1>
    <div class="ab-account-content-wrapper">
        <!-- aaccount search widgets -->
        @@include("partials/account/_search-widgets.html") 
        <!-- account type tabs -->
        @@include("partials/account/_account-types-tabs.html") 
        <!-- category based account list -->
        @@include("partials/account/_category-base-accounts.html") 
        <!-- all account list  -->
        @@include("partials/account/_all-account-list.html") 
    </div>
</section>
<!-- [END] -->